{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Service</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
    <!-- Sidebar remains unchanged -->
    <div class="sidebar">
        <div class="logo-container">
            <a href="{% if user.is_staff %}{% url 'artist_home' %}{% else %}{% url 'index' %}{% endif %}">
                <img src="{% static 'Images/logo.png' %}" style="width: 100%; height: auto; padding: 20px; box-sizing: border-box;">
            </a>
        </div>

        <div class="sidebar-section">
            <span class="sidebar-link-icon" style="display: inline-block; margin-left: 14px;">👤</span>
            {% if user.is_authenticated %}
            <b>Welcome, <br>
                <span style="display: inline-block; margin-left: 57px;">{{ user.username }}</span></b>
            {% else %}
            <b>Welcome, Guest</b>
            {% endif %}
            <br>
            <a href="{% url 'artist_home' %}" class="sidebar-link">
                <span class="sidebar-link-icon">🏠</span>
                Home
            </a>
            {% if user.is_authenticated %}
            <a href="/logout">
              <span class="sidebar-link-icon">↪️</span>
              <b>Logout</b>
            </a>
            {% else %}
            <a href="/login">
              <span class="sidebar-link-icon">↩</span>
              <b>Login</b>
            </a>
            {% endif %}
          </div>
    </div>
    <!-- Main content area where we will add the music player -->
    <div class="music-player" style="margin-left:240px; padding:20px; display: flex; justify-content: center; align-items: center; height: calc(100vh - 90px);">
        <!-- Music Player Interface -->
        <div class="player-container">
            {% if album and album.cover_image %}
            <img class="album-cover" src="{{ album.cover_image.url }}" alt="Album Cover" style="padding-top: 100px">
            {% else %}
            <img class="album-cover" src="{% static 'Images/IUlogo.jpg' %}" alt="Album Cover" style="padding-top: 100px">
            {% endif %}
            <div class="song-info">
                <h1 class="song-title">{% if selected_track %}{{ selected_track.music_name }}{% else %}{% if album %}{{album.name}}{% else %}No Album Selected{% endif %}{% endif %}</h1>
                <h2 class="artist-name" style="font-size: 0.9rem;">{% if selected_track and selected_track.artist %}{{ selected_track.artist.user.username }}{% elif tracks|length > 0 and tracks.0.artist %}{{ tracks.0.artist.user.username }}{% else %}Unknown Artist{% endif %}</h2>
            </div>
            <div class="player-controls">
                <button id="prev" class="control-btn">◄</button>
                <button id="play-pause" class="control-btn play-btn" style="color: rgb(29 91 185)">►</button>
                <button id="next" class="control-btn">►</button>
            </div>
            <div class="progress-bar" id="progress-bar">
                <div class="progress" id="progress"></div>
            </div>
            <div class="time-stamps">
                <span id="current-time">0:00</span>
                <span id="total-duration">4:00</span>
            </div>
        </div>

        <audio id="audio-player" src="{% if selected_track %}{{ selected_track.audio_file.url }}{% endif %}"></audio>
    </div>

    <script>
        const audioPlayer = document.getElementById('audio-player');
        const playPauseBtn = document.getElementById('play-pause');
        const progressContainer = document.getElementById('progress-bar');
        const progress = document.getElementById('progress');
        const currentTimeEl = document.getElementById('current-time');
        const durationEl = document.getElementById('total-duration');
        let currentDuration = 0;

        function formatTime(time) {
            const minutes = Math.floor(time / 60);
            let seconds = Math.floor(time % 60);
            seconds = seconds < 10 ? '0' + seconds : seconds;
            return `${minutes}:${seconds}`;
        }

        playPauseBtn.addEventListener('click', () => {
            if (audioPlayer.paused) {
                audioPlayer.play();
                playPauseBtn.textContent = '⏸';
            } else {
                audioPlayer.pause();
                playPauseBtn.textContent = '▶';
            }
        });

        function updateProgress() {
            const { duration, currentTime } = audioPlayer;

            if (isNaN(duration)) {
                return; // Avoid division by zero or NaN
            }
            const progressPercent = (currentTime / duration) * 100;
            progress.style.width = `${progressPercent}%`;
            currentTimeEl.textContent = formatTime(currentTime);
        }

        function setProgress(e) {
            const width = this.clientWidth;
            const clickX = e.offsetX;
            const duration = audioPlayer.duration;

            if (isNaN(duration)) {
                return; // Avoid errors if duration is not yet loaded
            }

            const newTime = (clickX / width) * duration;
            audioPlayer.currentTime = newTime;
        }

        function setDuration() {
            currentDuration = audioPlayer.duration;
            if (!isNaN(currentDuration)) {
                durationEl.textContent = formatTime(currentDuration);
            }
        }

        audioPlayer.addEventListener('loadedmetadata', setDuration);
        audioPlayer.addEventListener('timeupdate', updateProgress);
        progressContainer.addEventListener('click', setProgress);
        audioPlayer.addEventListener('ended', () => {
            playPauseBtn.textContent = '▶';
        });
    </script>
      
      <script>
        // Load selected song or first song on page load
        
        const nextButton = document.getElementById('next');
        const prevButton = document.getElementById('prev');
        
        const validTrackIds = JSON.parse('{{ valid_track_ids|safe }}');  // Load track IDs from the template context
        let currentTrackId = parseInt("{{ selected_track.id }}");  // Current Track ID
        if (isNaN(currentTrackId)) {
            currentTrackId = validTrackIds[0];
        }
        
        function navigateToTrack(trackId) {
            if (trackId) {
                window.location.href = `/tracks/?track_id=${trackId}`;
            }
        }
        
        function updateDisplay(direction) {
            if (!validTrackIds || validTrackIds.length === 0) {
                console.log("No valid tracks available.");
                return;
            }
        
            let currentIndex = validTrackIds.indexOf(currentTrackId);
        
            if (direction === "Next") {
                currentIndex = (currentIndex + 1) % validTrackIds.length; // Cycle to the next track
            } else {
                currentIndex = (currentIndex - 1 + validTrackIds.length) % validTrackIds.length; // Cycle to the previous track
            }
        
            const nextTrackId = validTrackIds[currentIndex];  // Set the track id from track_ids
            navigateToTrack(nextTrackId);  // Update the URL with the new track id
        }
        
        nextButton.addEventListener('click', () => {
            updateDisplay("Next");
        });
        
        prevButton.addEventListener('click', () => {
            updateDisplay("Previous");
        });
        </script>


        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>